@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    font-family: Acme;
}
@supports ((-webkit-backdrop-filter:blur(2em)) or (backdrop-filter:blur(2em))) {
    .backdrop-blur {
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.85);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px)
    }
  }
.navbar-brand,.nav-link{
    color:white!important;
}
#caro{
    font-family: Acme;
    background-color: #85a960;
}
#caro h1{
    font-weight: bolder;
}
::selection{
    background-color:black;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.navbar-light .navbar-brand {
    display: flex;
    align-items: flex-end;
}
a{
    font-weight: 500;
}
.c-search input{
    border-radius: 48px;
    border: 1px solid #DADADA;
    height: 35px;
    padding: 0 20px;
}
*:focus {
    outline: none;
}
#root .navbar-collapse {
    flex-grow: 0;
}
.landing-page{
    height: 100vh;
    background-image: url('images/basket-918416_1920.jpg');
    background-size: cover;
    flex-direction: column;
}
.landing-page h1{
    font-size: 80px;
    color: white;
    font-weight: bold;
}
p{
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 0 20px ;
}
.greeting{
    width: 50%;
    flex-direction: column;
}
.greeting button,.order button{
    transition: 0.3s;
    height: 50px;
    width: 150px;
    border: none;
    background-color:rgb(20, 20, 20);
    color: white;
    
}
.greeting button:hover{
    transition: 0.3s;
    height: 55px;
    width: 200px;
}
.containers{
    margin-left: 130px;
    margin-right: 130px;
}
.containers h1{
    margin:0 0 60px 18px;
}
.carousel-main{
    height: 100vh;
}
.items{
    width: 300px;
    height: 300px;
    margin: 0 20px;
    overflow: hidden;
    margin-bottom: 20px;
    
}
.items img{
    transition: 0.5s;
    width: auto;
    height: 100%;
}
.items img:hover{
    transition: 0.5s;
    height: 110%;
    width: auto;
}
.order{
    margin: 10px 0 0 0;
}
.Buy button{
    background-color: #DADADA;
    color:black
}
.order button{
    width: 300px;
    font-size: 18px;
}
.subs{
    height: 70vh;
    background-image: url('https://thumbor.thedailymeal.com/d5Uau-OAI-QEm1BpO5lr3LR-kHw=//https://www.thedailymeal.com/sites/default/files/2019/07/03/supermarketcart_main.JPG');
    background-size: cover;   
}
.subs h1{
    font-weight: bolder;
}
.subs p{
    color:black;
    
}